@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');
html{
    background-color: rgba(122,191,191,0.5);
}
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #f2f2f2;
    width:414px;
    margin:0 auto;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 0 10px;
    line-height: 25px;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 140px;
}
h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
}
h3{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}
nav ul{
    display: flex;
}
nav a{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    text-decoration: none;  
    color: #eb5428;
}
li {
    list-style-type: none;
}
header div{
    display: grid;
    text-align: center;
    margin:0 auto;
}
header div svg{
    grid-row: 1/2;
}
header div a{
    grid-row: 2/3;
}
main > img{
    width:414px;
}
dt{
    font-weight: bold;
    padding: 0 10px;
}
dd{
    position: relative;
    bottom: 18px;
    left: 70px;
}

#ingredients li{
    list-style-type: square;
    list-style-position: outside;
    padding: 10px 0px;
}
#directions li{
    list-style-type:decimal;
    padding-right: 10px;
    padding-bottom: 5px;
    line-height: 25px;
}

#dishes{
    background-color: #74bfbf;
    padding-top: 5px;
}
#dishes h3{
    display: flex;
    position: relative;
    left: 145px;
    top: 25px;
}
.sides div{
    position: relative;
    left: 135px;
    text-align: left;
}
.sides img{
    position: absolute;
    width: 100px;
    height: 100px;
    padding-left: 18px;
}
.sides dt{
    position: relative;
    bottom: 15px;
}
.sides dd{
    visibility: hidden;
}
.stars svg{
    position: relative;
    bottom: 45px;
    left:10px;
}

#mainNav{
    position: absolute;
    top:0px;
    z-index: 1;
}
#mainNav h3{
    visibility: hidden;
}
#mainNav ul{
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    list-style:none;
}
#mainNav li > img{
    width:50px;
    height:50px;
}

#search label{
    visibility: hidden;
}
#search input{
    display: flex;
    position: absolute;
    left: 80px;
    bottom: 100px;
    margin: 0 auto;
    padding: 14px 20px;
    border: solid 2px #eb5428;
}
#search button{
    position: absolute;
    left: 275px;
    bottom: 100px;
    border: solid 1.5px #eb5428;
    background-color: #eb5428;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
label span:before {
    top: 5px;
}
label span:after {
    top: -5px;
}
input {
    display: none;
}
input:checked ~ ul {
    max-height: 500px;
}
input:checked ~ label span {
    background: transparent;
}
input:checked ~ label span:before {
    transform: rotate(-45deg);
}
input:checked ~ label span:after {
    transform: rotate(45deg);
}
input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

footer nav{
    display: grid;
    text-align: center;

}
footer h3, footer h4 {
    visibility: hidden;
    font-size: 5px;
}
footer ul{
    display: flex;
    text-align: center;
}
footer nav li{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 20px;
    color: #eb5428;
}
footer nav li, footer nav svg{
    margin: 0 auto;
}