@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');
html{
    background-color: rgba(122,191,191,0.5);
}
*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #f2f2f2;
    width:414px;
    margin:0 auto;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 0 10px;
    line-height: 25px;
}
h1{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-align: center;
}
h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-align: center;
}
h3{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
}
nav ul{
    display: flex;
}
nav a{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
li {
    list-style-type: none;
}
main > img{
    width:414px;
}
dt{
    font-weight: bold;
    padding: 0 10px;
}
dd{
    position: relative;
    bottom: 18px;
    left: 50px;
}
#ingredients li{
    list-style-type: square;
    list-style-position: outside;
    padding-bottom: 5px;
    padding-left: 0px;
}
#directions li{
    list-style-type:decimal;
    padding-right: 10px;
    padding-bottom: 5px;
    line-height: 25px;
}
#dishes{
    background-color: #74bfbf;
    padding-top: 5px;
}
.sides{
    display: flex;
}
.sides h3{
    position: relative;
    left: 138px;
    bottom: 30px;
}
.sides div{
    display: grid;
    margin-left: 10px;
    line-height: 0px;
    padding-top: 10px;
}
.sides img{
    position: absolute;
    width: 100px;
    padding-left: 18px;
}
.sides dt{
    position: relative;
    bottom: 20px;
}
.sides dd{
    visibility: hidden;
}
.sides svg{
    position: relative;
    bottom: 20px;
}
.stars svg{
    padding-left: 10px;
}